@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import 'variables';




*{
    font-family: $main-font;
    z-index: 1;
}

.body{
	background-color: $color-dark-grey;
	margin: 0;
	overflow: auto;
}

@import 'nav';

.container{
	@include relLeftFloat();
    margin-top: $nav-height;
	height: auto;
	width: 100%;
    min-height: 500px;
}

.text{
    @include relLeftFloat();
}

.top-block{
    @include relLeftFloat();
    width: 100%;
    height: 50vh;
    min-height: 413px;
}
