@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
* {
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1; }

.body {
  background-color: #666666;
  margin: 0;
  overflow: auto; }

.container {
  position: relative;
  float: left;
  margin-top: 60px;
  height: auto;
  width: 100%;
  min-height: 500px; }

.text {
  position: relative;
  float: left; }

.top-block {
  position: relative;
  float: left;
  width: 100%;
  height: 50vh;
  min-height: 413px; }

#nav {
  position: fixed;
  float: left;
  width: 100%;
  height: 60px;
  z-index: 999;
  background-color: black;
  overflow: hidden;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #nav a.top-link {
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    float: left;
    padding: 0px 40px;
    height: 60px;
    text-align: center;
    color: #ffffff; }
    #nav a.top-link span {
      position: relative;
      float: left;
      font-size: 1.5em;
      margin-top: 50%;
      transform: translateY(-50%);
      font-weight: 300; }
    #nav a.top-link this:visted {
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }
  #nav a.top-link:nth-child(3) {
    float: right; }
  #nav a.top-link.ph-mid {
    position: absolute;
    left: 50%;
    padding: 0;
    float: none;
    transform: translateX(-50%);
    text-align: center; }
    #nav a.top-link.ph-mid span {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2.5em;
      margin: 0;
      transform: translate(-50%, -50%);
      font-weight: 800;
      color: #125ca9; }
  #nav .nav-content {
    padding: 0px 20px;
    position: relative;
    float: left;
    clear: both;
    height: auto;
    width: auto;
    margin-left: 10vw;
    color: white; }
    #nav .nav-content a {
      outline: none;
      text-decoration: none;
      color: inherit;
      -webkit-tap-highlight-color: transparent; }
      #nav .nav-content a this:visted {
        outline: none;
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent; }
    #nav .nav-content ul {
      padding: 0; }
    #nav .nav-content li {
      list-style: none;
      list-style-image: none;
      list-style-type: none;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;
      font-size: 1.3em;
      padding: 10px 40px; }
    #nav .nav-content li:hover {
      background-color: #125ca9; }
  #nav .ph-logo {
    position: absolute;
    visibility: hidden;
    bottom: 20px;
    clear: both;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
    -webkit-transition: all 0s ease-in;
    transition: all 0s ease-in;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    background-image: url(../img/ph-logo/ph-logo-300.png); }
    @media (min-width: 600px) {
      #nav .ph-logo {
        width: 40%;
        background-image: url(../img/ph-logo/ph-logo-400.png); } }
    @media (min-width: 800px) {
      #nav .ph-logo {
        width: 35%;
        background-image: url(../img/ph-logo/ph-logo-500.png); } }
    @media (min-width: 1000px) {
      #nav .ph-logo {
        width: 30%;
        background-image: url(../img/ph-logo/ph-logo-600.png); } }

#nav a.top-link:nth-child(1) {
  display: block; }
#nav a.top-link:nth-child(2) {
  display: none; }

#nav:target {
  height: 100vh; }
  #nav:target a.top-link:nth-child(1) {
    display: none; }
  #nav:target a.top-link:nth-child(2) {
    display: block; }
  #nav:target .ph-logo {
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    visibility: visible;
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
